<!doctype html>
<html lang="en"><head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>CSIR NSW2022 #datafree</title>	
	<script src="/js/lib/jquery/jquery.min.js"></script>
	<script src="/js/lib/strophe.js/strophe.umd.min.js"></script>
	<script src="/js/lib/strophe-disco/strophe.disco.js"></script>
	<script src="/js/lib/moment.js/moment.min.js"></script>	
	{{Stylesheet .FS "/css/all.css" }}
{{with .PollRobot -}}
<script data-instance="Audience" data-url="https://{{.}}" data-channel="" src="https://{{.}}/poll/js/all.js"></script>{{end}}
</head>
<body class="veedo-conference-waiting">
{{if .StartDate}}
<div data-instance="Countdown" data-start="{{.StartDate}}"> </div>
{{end}}
<!-- <div id="player-display-message">Here's a message from our sponsor.</div> -->
<main id="PlayerChat" 
	stream-key="{{.Key}}" 
	data-height-resize="100" 
	data-display-id="player-display-message"
	data-config="veedoConfig"
	>
</main>
<div data-instance="RoomKeeper" data-room="{{.Key}}"> </div>

{{ Script .FS "/js/veedoplayer.js" }}
{{ Script .FS "/js/all.js" }}
<script>
window.veedoConfig = new PlayerChatConfig({{with .AudienceJs}}{{. | js}}{{end}});

window.roomName = {{.Key}};

{{/* subdomain must have a trailing dot if non-empty */ -}}
// var subdomain = {{.Subdomain}};
{{/* domane is purposefully mispelt - proper spelling seems to overwrite some
// other global in chrome*/ -}}
// var domane = {{.Domain}};

window.options = {
    hosts: {
        domain: "{{.XmppServer}}", //: "value", "{{.Subdomain}}{{.Domain}}",
        muc: "conference.{{.XmppServer}}", // 'conference.{{.Subdomain}}{{.Domain}}', 
        anonymousdomain: "guest.{{.XmppServer}}", //"guest.stream.veedo.live" //'guest.{{.Subdomain}}{{.Domain}}'
    },
    bosh: '//' + {{.XmppServer}} + '/http-bind'
};
window.DisableVeedoPlayer=false;
{{if .StartDate}}
window.veedoCountdownComplete = function(countdown) {
	console.log(`veedo-countdown-complete`);
	var main = document.createElement('main');
	main.id='PlayerChat';
	main.setAttribute('data-height-resize',100);
	main.setAttribute('data-display-id','player-display-message');
	main.setAttribute('data-config','veedoConfig')
	document.body.insertBefore(main, countdown.el);
	var js = document.createElement('script');
	js.setAttribute('src','/js/veedoplayer.js');
	document.body.appendChild(js);
	countdown.el.remove();
	document.dispatchEvent(new CustomEvent('veedo-player-display', {bubbles: true}));
}
document.addEventListener('DOMContentLoaded', function() {
	var m = document.getElementById('PlayerChat');
	var mdisplay = m.style.display;
	document.addEventListener('veedo-player-display', function() {
		m.style.display = mdisplay;
	});
	m.style.display = 'none';
});
{{- end}}
</script>
</head>
<body class="veedo-conference-waiting">

<!-- <div data-instance="Countdown" data-start="2022-06-24 08:45:00+02:00" > </div> -->

<!-- <div id="player-display-message">Here's a message from our sponsor.</div> -->
<main id="PlayerChat" 
	stream-key="{{.Key}}" 
	data-height-resize="100" 
	data-display-id="player-display-message"
	data-config="veedoConfig"
	>
</main>
<script>console.log("player.html");</script>
</body>
</html>